<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    <p>
    Send a POST request to these 2 endpoints:
    <br>
    <ul>
        <li>http://localhost:3000/uploadImage</li>
        <li>http://localhost:3000/uploadBulk</li>
    </ul>
    
    <b style="color: crimson;">*Make sure to send a parameter named 'file' in the body request</b>
    </p>
</body>

</html>